* {
    box-sizing: border-box;
}

html {
    font-size: 12pt;
    text-shadow: 1px 2px 4px #0008;
}

h1 {
    text-align: center;
}

.data-table {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.data-table>div {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 2fr 1fr 1fr;
}

.data-table>.head {
    background: #40608040;
}

span.head {
    border: outset 1px #c0c0c080;
    padding: 2px;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

span.data {
    border: inset 2px #c0c0c080;
    background-color: #e0e0e0;
    padding: 2px;
}